/wandb/
/accelnet-challenge-2022-main/
/csv_files/
/demo_videos/
/EVAL_TEST/
/EVAL_test_records/
/figures/
/full_pipeline_env/
/IBC_RUNS/
/img_dump/
/Models/
/models/
/Plots/
/segmentation images/
/segmentation_model_v2/
/Trainings_Data/
/vision_pipeline/
